@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root{

--laranja-claro: #FF862A;
}

body{

    font-size: 1rem;
    font-family: 'Montserrat';
    
}

header{

    background-color: #ffffff;
}

section{

    padding-bottom: 5rem;
}

.nav-link{
    color: #CB6D43;
    font-weight: 600;
}
.inicio-fundo{
    background-image: url('img/4965007.jep');
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100px;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}
.img-inicio{
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}